body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  margin: 0;
  border: none;
  padding: 0;
  height: 100vh;
  background: rgba(240, 240, 240, 1.0);
}

.visualization {
  position: relative;
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  background: rgba(128, 196, 128, 1.0);
}

.visualization svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex: 0 1 auto;
  box-sizing: border-box;
  margin: 0 auto;
  border-top: 2px solid rgb(196, 196, 196);
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 100%;
  font-size: 18pt;
  text-align: center;
}

.controls button {
  font-size: 18pt;
}

.control-group {
  flex: 1 1 auto;
  height: 100%;
}
